# dependencies / build
node_modules/
dist/

# env (절대 커밋 금지)
.env

# Prisma
prisma/dev.db

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/generated/prisma

# OS / editor
.DS_Store
.vscode/